PORT=4000
MONGODB_URI=mongodb://localhost:27017/student-toolkit
JWT_SECRET=TheMainJWTKeyIsHere_IEEEProject_studentToolkit_BlaBlaBLahhhhh
GITHUB_CLIENT_SECRET=6ad0dd4c7f6700ce2eb2875d5bb9a4a65b61ea85
GITHUB_CLIENT_ID=Ov23lij0Ia1zZQ8ZIfH5
NODE_ENV=development

